Source-Code/Node_Red_Flows_SmartKittyFlap.json
[
    {
        "id": "6ca71ffdd912726c",
        "type": "tab",
        "label": "MQTT_Subscribe_Statistics",
        "disabled": false,
        "info": "this should be the chart of how many times the cat has been seen, aggregated by the hour\n\n\nI\nI                        -\nI                        I\nI                        I\nI                        I\nI                        I\nI    -                   I\nI    I                   I\nI -  I   -   -           I\n------------------------------------\n  0   1   2   3   ...   10 ...",
        "env": []
    },
    {
        "id": "9d351b33902da5ad",
        "type": "tab",
        "label": "MQTT_Subscribe_ImagesAndLogs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa52b523e36cfc18",
        "type": "tab",
        "label": "MQTT_Subscribe_CatSymbol",
        "disabled": false,
        "info": "Subscribes to classify/cat and colorizes the cat-svg according to the status:\n- nothing: no color changes\n- spotted: cat changes to orange\n- mouse: cat changes to red",
        "env": []
    },
    {
        "id": "309b22839d0c1e8e",
        "type": "tab",
        "label": "MQTT_Subscribe_Table_detected objects",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd649460696a959f",
        "type": "tab",
        "label": "MQTT_Publish_WeatherData",
        "disabled": false,
        "info": "gets weatherdata from owm-api every minute\nformats it \npublishes data to 3 topics\n- weather/current\n- weather/hourly\n- weather/daily",
        "env": []
    },
    {
        "id": "d0802221b99d2133",
        "type": "tab",
        "label": "MQTT_Subscribe_WeatherData",
        "disabled": false,
        "info": "subscribes 3 topics:\n- weather/current\n- weather/hourly\n- weather/daily\n\npublishes their content to the weather-dashboard\n",
        "env": []
    },
    {
        "id": "71963b7fde25c402",
        "type": "tab",
        "label": "Sense Hat Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1edd890583290d0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "625ef274b0e873be",
        "type": "ui_group",
        "name": "ColorStatus",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d07565bd.3f8bb8",
        "type": "ui_group",
        "name": "Windspeed & Panel",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "50f62a037dcb0848",
        "type": "ui_group",
        "name": "current and hourly",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99a4dc86.46d248",
        "type": "ui_group",
        "name": "Masterswitches",
        "tab": "",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b12941f.1cd05c",
        "type": "ui_group",
        "name": "Condition",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "8da50f69.44fe38",
        "type": "ui_group",
        "name": "Wind",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "5a4d76d2.5ae128",
        "type": "ui_group",
        "name": "Luftfeuchtigkeit",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14584712.7a2929",
        "type": "ui_group",
        "name": "Condition",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "5e0d6747.b726b",
        "type": "ui_group",
        "name": "Forecast",
        "tab": "",
        "order": 6,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "245d10216bc15d58",
        "type": "ui_group",
        "name": "Forecast Daily",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86fe01ec.b2083",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "839e21bb.a6da1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "8ef6317b.e039b",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "839e21bb.a6da1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "2dbb4a4c.3942a6",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "839e21bb.a6da1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "839e21bb.a6da1",
        "type": "ui_tab",
        "name": "Sense Hat Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89749fb7.87f01",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ab397e95.29ebe",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "4e7edda4.417004",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "61de5090.0f5d9",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d285bf32d59f57c9",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "935357b5e630e0de",
        "type": "ui_group",
        "name": "Standard",
        "tab": "799e4732a78a1abf",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "799e4732a78a1abf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "09bcba46be044b9b",
        "type": "persist-store",
        "filename": "persistence.json",
        "interval": "60"
    },
    {
        "id": "945f72cde15ff805",
        "type": "persist-store",
        "filename": "spot_objects.json",
        "interval": "60"
    },
    {
        "id": "af10522b3efd7af6",
        "type": "persist-store",
        "filename": "chart_data_hrs.json",
        "interval": "60"
    },
    {
        "id": "74bbe332b4edc0e3",
        "type": "persist-store",
        "filename": "persistence_chartdata_day.json",
        "interval": "60"
    },
    {
        "id": "39dab8387ccc8a8f",
        "type": "ui_group",
        "name": "Webcam vor dem Katzentor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1890881e.83819",
        "type": "ui_group",
        "name": "Col1",
        "tab": "839e21bb.a6da1",
        "order": 4,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c5f1b8aa.45bc08",
        "type": "ui_group",
        "name": "Actions",
        "tab": "839e21bb.a6da1",
        "order": 7,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9a96a8b1.92db78",
        "type": "ui_group",
        "name": "Col2",
        "tab": "839e21bb.a6da1",
        "order": 5,
        "disp": false,
        "width": "6"
    },
    {
        "id": "72fc319.cc425d",
        "type": "ui_group",
        "name": "Col3",
        "tab": "839e21bb.a6da1",
        "order": 6,
        "disp": false,
        "width": "6"
    },
    {
        "id": "de047d7b6346c6ee",
        "type": "ui_group",
        "name": "Webcam vor dem Katzentor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef4c18deb6065803",
        "type": "persist-store",
        "filename": "spot_objects.json",
        "interval": "60"
    },
    {
        "id": "92791b202799fc7b",
        "type": "persist-store",
        "filename": "chart_data_hrs.json",
        "interval": "60"
    },
    {
        "id": "b9b7f191a3aaab58",
        "type": "persist-store",
        "filename": "persistence_chartdata_day.json",
        "interval": "60"
    },
    {
        "id": "4e195fc4fb50ac72",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "839e21bb.a6da1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "08afa164d298e894",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "839e21bb.a6da1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "410f47d388136e21",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "839e21bb.a6da1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1d9d1fa.350a38",
        "type": "ui_group",
        "name": "Chart with integer X axis",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "fa784d51.3b6c5",
        "type": "ui_group",
        "name": "Average Bars",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "3021cbe2.02ecd4",
        "type": "ui_group",
        "name": "Clock and Digital Displays",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "7853403.230cdc",
        "type": "ui_group",
        "name": "CPU Load",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1d1da0fc.6ab84f",
        "type": "ui_group",
        "name": "Memory",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a9912d64.97094",
        "type": "ui_group",
        "name": "System Information",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "51ce6aa1.620754",
        "type": "ui_group",
        "name": "UI-Control Table",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Simple Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "571a38b1.5e3638",
        "type": "ui_group",
        "name": "Richer Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "8345f9958b7c62ba",
        "type": "ui_group",
        "name": "tabl1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e71e17c79b624787",
        "type": "mqtt-broker",
        "name": "sender",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9134117b908fb9f7",
        "type": "ui_group",
        "name": "Button Chart",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "299915f654a0f4fc",
        "type": "ui_group",
        "name": "Switch Chart",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "23f2c53f2f33886e",
        "type": "ui_group",
        "name": "Switch Chart",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1c1485c753a5a46b",
        "type": "ui_group",
        "name": "Image Stream",
        "tab": "839e21bb.a6da1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6de6a924605cec25",
        "type": "ui_group",
        "name": "MyMap",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "a36c7ba79f01e1e0",
        "type": "ui_group",
        "name": "Webcam - Snapshot",
        "tab": "7935a4e2e1b7d4d4",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7935a4e2e1b7d4d4",
        "type": "ui_tab",
        "name": "Cameras",
        "icon": "camera_alt",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "112f77da862ef9c6",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "839e21bb.a6da1",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81fe0854400fcf31",
        "type": "persist-store",
        "filename": "spot_objects.json",
        "interval": "60"
    },
    {
        "id": "7eaae537f9fd7b3a",
        "type": "persist-store",
        "filename": "persistence_chartdata_day.json",
        "interval": "60"
    },
    {
        "id": "902b90d96c206731",
        "type": "persist-store",
        "filename": "chart_data_hrs.json",
        "interval": "60"
    },
    {
        "id": "d624abf2fe71c414",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "1eb9bcb6d32b497b",
        "type": "ui_tab",
        "name": "Statistics",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b64b49e71dee7fd",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "1eb9bcb6d32b497b",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62a24012d4c55544",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "839e21bb.a6da1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "4dece354c822ee2b",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "839e21bb.a6da1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e2ca1da7ab5d859",
        "type": "ui_group",
        "name": "current and hourly",
        "tab": "8f0a3ae3091b1697",
        "order": 2,
        "disp": false,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ad3f68a164dcada",
        "type": "ui_group",
        "name": "Forecast Daily",
        "tab": "8f0a3ae3091b1697",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f0a3ae3091b1697",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "fa-thermometer-half",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39826e725d968acc",
        "type": "ui_group",
        "name": "imagestream",
        "tab": "799e4732a78a1abf",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1ae42ba6088de07",
        "type": "ui_group",
        "name": "CatSymbol",
        "tab": "799e4732a78a1abf",
        "order": 2,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d96aa8a682250171",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "799e4732a78a1abf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09830d98668326a4",
        "type": "ui_group",
        "name": "CPU",
        "tab": "839e21bb.a6da1",
        "order": 10,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "32695828263a10a1",
        "type": "ui_group",
        "name": "Logs",
        "tab": "799e4732a78a1abf",
        "order": 6,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e06c6adcd58a675d",
        "type": "ui_group",
        "name": "WeatherForecast",
        "tab": "799e4732a78a1abf",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "415f3c6e8db24231",
        "type": "ui_group",
        "name": "Snapshot of the last time the cat was seen",
        "tab": "7935a4e2e1b7d4d4",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b85553040a744ffc",
        "type": "ui_group",
        "name": "Snapshot of the last time a mouse was seen",
        "tab": "7935a4e2e1b7d4d4",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea9caeb041903f13",
        "type": "ui_group",
        "name": "Snapshot of the last time the cat  was seen with a mouse",
        "tab": "7935a4e2e1b7d4d4",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd80960203cbe549",
        "type": "mqtt in",
        "z": "6ca71ffdd912726c",
        "name": "",
        "topic": "classify/stats",
        "qos": "1",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "0c8c2643441a1a91"
            ]
        ]
    },
    {
        "id": "0c8c2643441a1a91",
        "type": "json",
        "z": "6ca71ffdd912726c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "cb5fea0fe94dbf97"
            ]
        ]
    },
    {
        "id": "4c04ce63b8e922df",
        "type": "ui_chart",
        "z": "6ca71ffdd912726c",
        "name": "",
        "group": "7b64b49e71dee7fd",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "All objects which the camera detected",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cb5fea0fe94dbf97",
        "type": "function",
        "z": "6ca71ffdd912726c",
        "name": "",
        "func": "var t = {};\nvalues = Object.values(msg.payload)\n\nt.labels=Object.keys(msg.payload);\nt.series = ['Spotted Objects'];\nt.data=[];\n\nvar arr = [];\nfor (var i = 0; i < Object.values(msg.payload).length; i++){\n    arr.push(Object.values(msg.payload)[i])\n}\n\nt.data.push(arr);\n\n\n\nreturn {payload:[t]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "4c04ce63b8e922df"
            ]
        ]
    },
    {
        "id": "e49bc7f483345fed",
        "type": "mqtt in",
        "z": "6ca71ffdd912726c",
        "name": "",
        "topic": "classify/cat",
        "qos": "1",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "bdd3e5d699da2cb0"
            ]
        ]
    },
    {
        "id": "0c3fd9aacb3e06f1",
        "type": "ui_chart",
        "z": "6ca71ffdd912726c",
        "name": "",
        "group": "7b64b49e71dee7fd",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "The hour the cat has been seen ",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd3e5d699da2cb0",
        "type": "bar-chart-data",
        "z": "6ca71ffdd912726c",
        "name": "bar-chart-data",
        "x_interval": "hours",
        "x_size": 24,
        "unit": "Cat seen",
        "precision": 2,
        "is_meter_reading": "False",
        "agg_by": "sum",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "0c3fd9aacb3e06f1"
            ]
        ]
    },
    {
        "id": "176d4d39ad08d1f5",
        "type": "mqtt in",
        "z": "6ca71ffdd912726c",
        "name": "",
        "topic": "classify/hist",
        "qos": "1",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "7650a95b085bb747"
            ]
        ]
    },
    {
        "id": "7650a95b085bb747",
        "type": "json",
        "z": "6ca71ffdd912726c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "ba1853657fe965e7"
            ]
        ]
    },
    {
        "id": "6755b5986018ad2e",
        "type": "ui_chart",
        "z": "6ca71ffdd912726c",
        "name": "",
        "group": "7b64b49e71dee7fd",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sum of all spots per hour",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ba1853657fe965e7",
        "type": "function",
        "z": "6ca71ffdd912726c",
        "name": "",
        "func": "var t = {};\nvalues = Object.values(msg.payload)\n\nt.labels=Object.keys(msg.payload);\nt.series = ['Cat spots'];\nt.data=[];\nvar arr = [];\n//for (var i = 0; i < msg.payload.length; i++){\nfor (var i = 0; i < Object.values(msg.payload).length; i++){\narr.push(Object.values(msg.payload)[i]);\n}\n\nt.data.push(arr);\n\nreturn {payload:[t]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "6755b5986018ad2e",
                "d4bc65c86ec1b00f",
                "cfbb3bb83562023c"
            ]
        ]
    },
    {
        "id": "d4bc65c86ec1b00f",
        "type": "ui_chart",
        "z": "6ca71ffdd912726c",
        "name": "",
        "group": "d96aa8a682250171",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Sum of all spots per hour",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "03e637a12b080f0f",
        "type": "comment",
        "z": "6ca71ffdd912726c",
        "name": "Same should be displayed on the Home-Tab",
        "info": "",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "70e8b5d337fef64d",
        "type": "mqtt in",
        "z": "6ca71ffdd912726c",
        "name": "",
        "topic": "classify/hist_day",
        "qos": "1",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "e1ecadbea40aedc8"
            ]
        ]
    },
    {
        "id": "e1ecadbea40aedc8",
        "type": "json",
        "z": "6ca71ffdd912726c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "a6882498a350a959"
            ]
        ]
    },
    {
        "id": "a6882498a350a959",
        "type": "function",
        "z": "6ca71ffdd912726c",
        "name": "",
        "func": "var t = {};\nvalues = Object.values(msg.payload)\n\nt.labels=Object.keys(msg.payload);\nt.series = ['Cat spots'];\nt.data=[];\nvar arr = [];\n//for (var i = 0; i < msg.payload.length; i++){\nfor (var i = 0; i < Object.values(msg.payload).length; i++){\narr.push(Object.values(msg.payload)[i]);\n}\n\nt.data.push(arr);\n\nreturn {payload:[t]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "e222a86b5c1dd191"
            ]
        ]
    },
    {
        "id": "e222a86b5c1dd191",
        "type": "ui_chart",
        "z": "6ca71ffdd912726c",
        "name": "",
        "group": "7b64b49e71dee7fd",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Spots per day",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e2e9f1f8f8e1aeca",
        "type": "comment",
        "z": "6ca71ffdd912726c",
        "name": "Subscribes to classify-topics and displays statistical data to the dashboard",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "cfbb3bb83562023c",
        "type": "debug",
        "z": "6ca71ffdd912726c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "759cc2bbe58bb832",
        "type": "http request",
        "z": "9d351b33902da5ad",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "0339fc2829f3a351"
            ]
        ]
    },
    {
        "id": "1d6015db2be6f6e9",
        "type": "ui_template",
        "z": "9d351b33902da5ad",
        "group": "a36c7ba79f01e1e0",
        "name": "all log image",
        "order": 1,
        "width": 10,
        "height": 8,
        "format": "<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0339fc2829f3a351",
        "type": "base64",
        "z": "9d351b33902da5ad",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "0086e13fc4a0d01b"
            ]
        ]
    },
    {
        "id": "0086e13fc4a0d01b",
        "type": "image-info",
        "z": "9d351b33902da5ad",
        "name": "",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "1d6015db2be6f6e9",
                "8e44917e295d8d68"
            ]
        ]
    },
    {
        "id": "df9afe0f84e8872c",
        "type": "ui_template",
        "z": "9d351b33902da5ad",
        "group": "415f3c6e8db24231",
        "name": "cat log image",
        "order": 1,
        "width": 10,
        "height": 8,
        "format": "<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "73638e8e16d89349",
        "type": "image-info",
        "z": "9d351b33902da5ad",
        "name": "",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "df9afe0f84e8872c"
            ]
        ]
    },
    {
        "id": "cdfc7bbdb8ec8406",
        "type": "base64",
        "z": "9d351b33902da5ad",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "73638e8e16d89349"
            ]
        ]
    },
    {
        "id": "5ad73107853623ea",
        "type": "http request",
        "z": "9d351b33902da5ad",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "cdfc7bbdb8ec8406"
            ]
        ]
    },
    {
        "id": "94c7980743903284",
        "type": "ui_template",
        "z": "9d351b33902da5ad",
        "group": "b85553040a744ffc",
        "name": "mouse log image",
        "order": 1,
        "width": 10,
        "height": 8,
        "format": "<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "687ff45a0f5c8f06",
        "type": "image-info",
        "z": "9d351b33902da5ad",
        "name": "",
        "x": 750,
        "y": 360,
        "wires": [
            [
                "94c7980743903284"
            ]
        ]
    },
    {
        "id": "d525ffe2680f1ea1",
        "type": "base64",
        "z": "9d351b33902da5ad",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "687ff45a0f5c8f06"
            ]
        ]
    },
    {
        "id": "6adfd06506b5a3d3",
        "type": "http request",
        "z": "9d351b33902da5ad",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "d525ffe2680f1ea1"
            ]
        ]
    },
    {
        "id": "089af9f3a49f7a41",
        "type": "ui_template",
        "z": "9d351b33902da5ad",
        "group": "ea9caeb041903f13",
        "name": "cat n mouse log image",
        "order": 1,
        "width": 10,
        "height": 8,
        "format": "<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "66f93f978bede349",
        "type": "image-info",
        "z": "9d351b33902da5ad",
        "name": "",
        "x": 750,
        "y": 420,
        "wires": [
            [
                "089af9f3a49f7a41"
            ]
        ]
    },
    {
        "id": "034e602a0fddca90",
        "type": "base64",
        "z": "9d351b33902da5ad",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "66f93f978bede349"
            ]
        ]
    },
    {
        "id": "11d5269f23d809ea",
        "type": "http request",
        "z": "9d351b33902da5ad",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "034e602a0fddca90"
            ]
        ]
    },
    {
        "id": "0fc3cd2462d57121",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/aImage",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "3c8cc55b64985df5"
            ]
        ]
    },
    {
        "id": "c69fbe21cf9ce198",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/cImage",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "c255c9ac447be941"
            ]
        ]
    },
    {
        "id": "5ca076d693769637",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/mImage",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "b26890367b3b99bb"
            ]
        ]
    },
    {
        "id": "09401bc8b2205a6e",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/cnmImage",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "e4def575bb8348e9"
            ]
        ]
    },
    {
        "id": "3c8cc55b64985df5",
        "type": "function",
        "z": "9d351b33902da5ad",
        "name": "",
        "func": "msg.url = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "759cc2bbe58bb832"
            ]
        ]
    },
    {
        "id": "c255c9ac447be941",
        "type": "function",
        "z": "9d351b33902da5ad",
        "name": "",
        "func": "msg.url = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "5ad73107853623ea"
            ]
        ]
    },
    {
        "id": "e4def575bb8348e9",
        "type": "function",
        "z": "9d351b33902da5ad",
        "name": "",
        "func": "msg.url = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 420,
        "wires": [
            [
                "11d5269f23d809ea"
            ]
        ]
    },
    {
        "id": "b26890367b3b99bb",
        "type": "function",
        "z": "9d351b33902da5ad",
        "name": "",
        "func": "msg.url = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "6adfd06506b5a3d3"
            ]
        ]
    },
    {
        "id": "d545ad5cf48f1b69",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/allLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "54159686f9684ee6"
            ]
        ]
    },
    {
        "id": "54159686f9684ee6",
        "type": "ui_text",
        "z": "9d351b33902da5ad",
        "group": "a36c7ba79f01e1e0",
        "order": 2,
        "width": 10,
        "height": 1,
        "name": "all log",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 310,
        "y": 560,
        "wires": []
    },
    {
        "id": "5d23521b0bf18f76",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/catLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 620,
        "wires": [
            [
                "90a60caa0524dfa7"
            ]
        ]
    },
    {
        "id": "90a60caa0524dfa7",
        "type": "ui_text",
        "z": "9d351b33902da5ad",
        "group": "415f3c6e8db24231",
        "order": 4,
        "width": 10,
        "height": 1,
        "name": "cat log",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 310,
        "y": 620,
        "wires": []
    },
    {
        "id": "8b71e5189d314245",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/mouseLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "18b8592183679e80"
            ]
        ]
    },
    {
        "id": "18b8592183679e80",
        "type": "ui_text",
        "z": "9d351b33902da5ad",
        "group": "b85553040a744ffc",
        "order": 6,
        "width": 10,
        "height": 1,
        "name": "mouse log",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 330,
        "y": 680,
        "wires": []
    },
    {
        "id": "6b60757263202746",
        "type": "mqtt in",
        "z": "9d351b33902da5ad",
        "name": "",
        "topic": "classify/cnmLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "d285bf32d59f57c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "4d597aa8589b780f"
            ]
        ]
    },
    {
        "id": "4d597aa8589b780f",
        "type": "ui_text",
        "z": "9d351b33902da5ad",
        "group": "ea9caeb041903f13",
        "order": 5,
        "width": 10,
        "height": 1,
        "name": "cat n mouse log",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 340,
        "y": 740,
        "wires": []
    },
    {
        "id": "8e44917e295d8d68",
        "type": "ui_template",
        "z": "9d351b33902da5ad",
        "group": "39826e725d968acc",
        "name": "all log image",
        "order": 1,
        "width": 8,
        "height": 6,
        "format": "<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "17f3c9ba822c8427",
        "type": "comment",
        "z": "9d351b33902da5ad",
        "name": "Subscribes to classify-topics and displays the images of the latest message",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "b9124b9f119693c0",
        "type": "comment",
        "z": "9d351b33902da5ad",
        "name": "Same should be displayed on the Home-Tab",
        "info": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "c71b995aec973350",
        "type": "comment",
        "z": "9d351b33902da5ad",
        "name": "Subscribes to classify-topics and displays the logs of the latest message below the images",
        "info": "",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "e41222164456dd2d",
        "type": "function",
        "z": "fa52b523e36cfc18",
        "name": "convert to color",
        "func": "var color = context.get(\"color\");\nvar timer = context.get(\"timer\");\nvar status = context.get(\"status\");\n\nif(typeof timer == \"undefined\"){\n    timer = Date.now();\n}\n\nif(typeof status == \"undefined\"){\n    status = \"ok\";\n}\n\nvar nowtime = Date.now();\nvar diff = (Math.abs(nowtime-timer)/1000)/60;\n\nif (msg.payload==\"all\"){\n    if(status==\"orange\"||status==\"red\"){\n        if (diff>15){\n            color = \"#a0a0a0\";\n            timer = Date.now();\n            status = \"ok\";\n            context.set(\"color\",  color);\n            context.set(\"timer\", timer);\n            context.set(\"status\", status);\n        }\n    }\n}\n\nelse if (msg.payload==\"cat\"){\n    switch(status){\n        case \"ok\":\n            color=\"orange\";\n            timer = Date.now();\n            context.set(\"color\",  color);\n            context.set(\"timer\", timer);\n            context.set(\"status\", color);\n            break;\n        case \"red\":\n            if(diff>15){\n                color=\"orange\";\n                timer = Date.now();\n                context.set(\"color\",  color);\n                context.set(\"timer\", timer);\n                context.set(\"status\", color);\n            }\n            break;\n        default:\n            break;\n    }\n}\nelse if ((msg.payload==\"cat and mouse\" || msg.payload==\"mouse\")){\n    if(status!=\"red\"){\n        color=\"red\";\n        timer = Date.now();\n        context.set(\"color\",  color);\n        context.set(\"timer\", timer);\n        context.set(\"status\", color);\n    } else {\n        color=\"red\";\n    }\n}\n\nmsg.payload = {\n\"command\": \"update_style\",\n\"selector\": \".catcolor\",\n\"attributeName\": \"fill\",\n\"attributeValue\": context.get(\"color\"),\n\"diff\": diff,\n\"stat\": context.get(\"status\"),\n\"time\": context.get(\"timer\"),\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "5abb616dab80d73e",
                "844704537645bd97"
            ]
        ]
    },
    {
        "id": "5abb616dab80d73e",
        "type": "debug",
        "z": "fa52b523e36cfc18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "844704537645bd97",
        "type": "ui_svg_graphics",
        "z": "fa52b523e36cfc18",
        "group": "f1ae42ba6088de07",
        "order": 1,
        "width": 4,
        "height": 6,
        "svgString": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<svg\n   xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n   xmlns:cc=\"http://creativecommons.org/ns#\"\n   xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n   xmlns:svg=\"http://www.w3.org/2000/svg\"\n   xmlns=\"http://www.w3.org/2000/svg\"\n   xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\"\n   xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\"\n   version=\"1.0\"\n   width=\"130pt\"\n   height=\"225pt\"\n   viewBox=\"0 0 173.33332 300\"\n   preserveAspectRatio=\"xMidYMid meet\"\n   id=\"svg68\"\n   sodipodi:docname=\"cat.svg\"\n   inkscape:version=\"1.0.2-2 (e86c870879, 2021-01-15)\">\n  <defs\n     id=\"defs72\" />\n  <sodipodi:namedview\n     pagecolor=\"#ffffff\"\n     bordercolor=\"#666666\"\n     borderopacity=\"1\"\n     objecttolerance=\"10\"\n     gridtolerance=\"10\"\n     guidetolerance=\"10\"\n     inkscape:pageopacity=\"0\"\n     inkscape:pageshadow=\"2\"\n     inkscape:window-width=\"1918\"\n     inkscape:window-height=\"1008\"\n     id=\"namedview70\"\n     showgrid=\"false\"\n     inkscape:zoom=\"1.3331683\"\n     inkscape:cx=\"481.64097\"\n     inkscape:cy=\"206.24657\"\n     inkscape:window-x=\"0\"\n     inkscape:window-y=\"0\"\n     inkscape:window-maximized=\"0\"\n     inkscape:current-layer=\"svg68\"\n     inkscape:document-rotation=\"0\"\n     scale-x=\"1\"\n     viewbox-width=\"197.4\" />\n  <metadata\n     id=\"metadata42\">\nCreated by potrace 1.16, written by Peter Selinger 2001-2019\n<rdf:RDF>\n  <cc:Work\n     rdf:about=\"\">\n    <dc:format>image/svg+xml</dc:format>\n    <dc:type\n       rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n    <dc:title></dc:title>\n  </cc:Work>\n</rdf:RDF>\n</metadata>\n  <g\n     transform=\"matrix(0.02770526,0,0,-0.02770526,-103.38177,317.75037)\"\n     fill=\"#000000\"\n     stroke=\"none\"\n     id=\"g66\">\n    <path\n       d=\"m 4725,11458 c -44,-26 -96,-115 -161,-276 -85,-211 -106,-357 -105,-737 0,-391 -6,-473 -77,-935 -23,-154 -26,-204 -26,-420 0,-232 1,-251 27,-357 32,-132 69,-235 128,-358 42,-86 44,-94 44,-180 0,-87 -2,-93 -48,-189 -49,-100 -55,-115 -100,-239 -48,-131 -109,-384 -142,-592 -55,-343 -106,-530 -274,-1003 -84,-235 -151,-458 -176,-590 -17,-90 -17,-93 1,-115 19,-22 19,-22 -2,-4 l -21,17 -21,-172 c -38,-295 -44,-412 -39,-668 5,-269 21,-391 77,-591 92,-325 265,-628 463,-809 49,-46 49,-46 38,-85 -25,-92 -3,-178 66,-255 98,-110 301,-167 561,-158 l 133,5 17,-29 c 17,-30 58,-59 155,-115 98,-55 171,-68 372,-67 28,0 100,0 160,0 106,-1 113,0 180,33 82,41 154,111 191,188 15,29 28,53 30,53 2,0 15,-18 30,-41 42,-66 107,-124 175,-157 81,-37 139,-50 262,-55 88,-4 96,-3 85,12 -7,9 -1,6 13,-6 21,-19 37,-23 97,-23 100,0 167,16 242,59 36,21 86,45 112,55 50,18 126,79 146,117 13,24 14,24 190,24 175,1 178,1 261,33 46,18 120,51 163,74 l 78,40 188,-5 c 207,-5 330,-23 464,-68 97,-31 161,-68 178,-99 14,-26 5,-73 -18,-93 -20,-17 -113,-53 -190,-73 -172,-46 -254,-141 -254,-299 -1,-107 32,-185 106,-251 57,-52 93,-72 191,-105 63,-22 87,-24 240,-24 157,0 177,2 265,28 121,36 207,74 244,106 16,14 25,20 21,12 -13,-22 49,18 124,79 64,54 198,217 186,228 -3,3 3,15 14,26 10,12 30,55 44,96 104,311 22,625 -233,881 -136,138 -281,229 -480,303 -158,58 -376,107 -576,128 l -111,11 30,76 c 67,172 118,389 137,581 15,158 13,516 -5,684 -49,466 -142,767 -473,1541 -124,292 -145,358 -187,605 -26,150 -65,321 -106,465 -45,158 -64,216 -111,347 l -49,136 54,91 c 195,323 231,687 122,1226 -67,327 -76,431 -79,840 -2,342 -5,392 -25,500 -39,216 -74,317 -145,423 -52,78 -97,112 -148,112 -65,0 -237,-75 -353,-153 -107,-73 -263,-242 -366,-397 l -14,-21 -185,21 c -152,18 -219,21 -380,17 -107,-3 -222,-10 -255,-16 -146,-28 -165,-33 -160,-40 2,-5 -6,-6 -18,-4 -12,2 -48,-5 -79,-16 l -58,-20 -33,42 c -19,23 -69,90 -111,149 -42,59 -100,133 -129,164 -72,79 -193,167 -301,219 -146,69 -235,89 -281,63 z m 177,-162 c 184,-85 391,-296 498,-506 36,-71 89,-110 150,-110 15,0 75,11 132,24 212,50 325,61 593,60 202,-1 273,-5 370,-21 85,-14 124,-17 133,-10 7,6 46,54 85,106 107,143 180,224 265,297 92,78 223,147 284,148 37,1 44,-3 65,-33 13,-19 31,-56 40,-82 l 17,-48 26,22 25,22 -23,-26 -23,-27 20,-68 c 18,-65 42,-177 55,-269 4,-22 11,-175 16,-340 11,-355 27,-534 81,-910 61,-421 63,-590 8,-810 -69,-270 -231,-466 -534,-643 -95,-56 -109,-82 -43,-82 90,0 243,58 357,134 60,41 54,47 107,-103 70,-197 126,-416 170,-666 50,-286 116,-484 329,-985 272,-642 326,-895 326,-1535 0,-457 -61,-792 -195,-1080 -93,-199 -239,-382 -322,-404 -41,-11 -53,-9 -142,23 -51,19 -171,22 -231,6 -52,-14 -45,-23 29,-39 120,-25 231,-104 300,-211 31,-48 42,-86 18,-62 -23,23 -48,13 -64,-25 -21,-50 -52,-83 -79,-83 -27,0 -72,34 -80,60 -11,33 -39,23 -67,-25 -29,-48 -39,-51 -123,-46 -74,5 -121,54 -164,173 -47,127 -50,266 -11,508 10,63 33,207 50,320 18,113 61,378 96,589 80,479 131,887 114,914 -6,11 -7,16 -1,13 34,-21 57,714 31,999 -12,127 -20,155 -45,155 -22,0 -33,-52 -40,-185 -30,-638 -92,-1186 -220,-1940 -59,-352 -155,-1031 -162,-1145 -5,-103 4,-159 51,-285 32,-88 35,-185 7,-231 -10,-17 -36,-41 -56,-54 -48,-30 -66,-20 -82,45 -13,53 -37,85 -51,70 -5,-6 -14,-35 -21,-65 -6,-31 -20,-70 -31,-88 -19,-31 -71,-62 -104,-62 -26,0 -46,30 -46,71 0,45 -21,94 -46,103 -24,9 -33,-1 -41,-47 -4,-27 -17,-52 -35,-71 -27,-27 -33,-28 -91,-24 -134,11 -226,92 -273,238 -9,30 -26,66 -38,80 -18,21 -18,22 -2,10 18,-14 19,-13 13,19 -7,36 -13,105 -22,252 -2,47 -9,423 -15,835 -6,412 -15,873 -20,1024 -5,151 -6,426 -3,611 l 6,337 -22,7 c -13,4 -26,3 -31,-2 -7,-8 -41,-228 -60,-401 -24,-211 -30,-724 -18,-1502 8,-529 8,-810 1,-885 -7,-78 -7,-114 1,-124 8,-11 8,-13 -1,-8 -7,5 -13,-12 -18,-56 -14,-125 -36,-228 -59,-281 -46,-104 -159,-196 -240,-196 -45,0 -91,50 -82,89 3,14 9,50 12,79 6,49 6,52 -16,52 -34,0 -72,-49 -100,-131 -21,-59 -31,-76 -51,-83 -34,-11 -91,0 -121,23 -21,17 -23,27 -23,105 0,71 -3,86 -16,86 -23,0 -65,-49 -90,-104 l -22,-50 -23,27 c -30,35 -47,98 -38,144 4,21 21,74 38,118 29,75 30,88 31,220 v 140 l -72,270 c -107,404 -186,730 -244,1005 -98,466 -163,851 -199,1170 -14,130 -40,565 -40,677 0,50 -5,104 -11,120 l -11,28 -17,-22 c -43,-52 -66,-309 -58,-651 7,-312 40,-622 92,-862 8,-36 19,-94 25,-130 6,-36 22,-114 36,-175 14,-60 32,-141 40,-180 8,-38 30,-135 49,-215 19,-80 48,-210 65,-290 30,-141 96,-389 159,-596 64,-211 65,-335 6,-499 -19,-53 -35,-104 -35,-114 0,-20 -35,-31 -102,-31 -60,0 -109,25 -160,82 -44,49 -49,52 -63,37 -9,-9 -19,-36 -22,-60 -7,-53 -15,-59 -60,-49 -39,9 -78,41 -99,83 -12,21 -22,27 -48,27 -39,0 -46,12 -46,73 0,36 6,46 48,87 38,36 65,52 130,73 44,15 95,27 111,27 44,0 46,17 4,31 -49,17 -177,17 -226,0 -36,-12 -41,-11 -80,15 -70,46 -200,184 -261,277 -145,220 -238,505 -277,847 -17,148 -17,585 0,755 35,356 84,550 261,1050 127,356 164,492 210,775 68,408 90,507 162,730 36,110 106,263 138,301 l 22,26 105,-53 c 123,-63 183,-72 183,-30 0,17 -14,34 -48,60 -79,57 -193,186 -245,274 -89,152 -135,295 -168,520 -18,124 -20,176 -16,356 4,185 9,237 42,421 l 37,210 8,475 c 7,431 9,485 29,583 28,135 69,264 115,355 48,95 53,97 158,48 z M 8624,3634 c 221,-24 427,-79 569,-150 148,-75 297,-197 388,-317 110,-146 144,-253 136,-422 -9,-193 -81,-353 -213,-474 -78,-71 -165,-118 -310,-168 -106,-36 -114,-37 -254,-37 -126,0 -153,2 -204,22 -120,44 -186,110 -194,192 -6,65 2,93 40,135 42,49 71,62 183,85 130,26 195,69 229,152 59,140 -41,276 -263,358 -109,40 -229,58 -467,72 l -204,12 -28,60 -28,60 86,85 c 101,102 193,214 241,294 l 34,57 h 59 c 32,0 122,-7 200,-16 z\"\n       id=\"path44\" />\n    <path\n       d=\"m 7121,10942 c -75,-75 -149,-190 -158,-246 -7,-43 16,-76 53,-76 56,0 154,152 188,293 30,118 13,124 -83,29 z\"\n       id=\"path46\" />\n    <path\n       d=\"m 4986,10942 c -11,-19 15,-100 75,-230 16,-35 29,-67 29,-72 0,-20 53,-70 75,-70 37,0 48,23 43,92 -7,107 -55,188 -152,259 -39,29 -61,36 -70,21 z\"\n       id=\"path48\" />\n    <path\n       d=\"m 5260,10052 c -191,-63 -320,-253 -320,-469 0,-67 18,-110 64,-157 71,-70 181,-112 326,-122 111,-9 210,9 301,52 136,65 164,102 161,215 -2,84 -30,206 -61,267 -35,69 -126,159 -198,194 -82,40 -188,48 -273,20 z m 248,-141 c 57,-36 109,-102 136,-171 21,-54 38,-203 27,-234 -19,-49 -176,-106 -291,-106 -116,0 -268,58 -307,116 -20,31 -13,154 12,226 24,67 97,145 170,180 52,25 69,29 130,26 60,-3 79,-8 123,-37 z\"\n       id=\"path50\" />\n    <path\n       d=\"m 5328,9875 c -74,-50 -100,-193 -53,-293 21,-44 32,-56 71,-74 92,-40 162,2 199,118 55,177 -86,338 -217,249 z\"\n       id=\"path52\" />\n    <path\n       d=\"m 6759,10057 c -187,-53 -317,-262 -307,-493 3,-73 6,-87 34,-125 138,-190 625,-182 765,12 10,15 26,55 35,89 13,51 14,73 4,130 -25,148 -132,300 -254,360 -74,37 -200,49 -277,27 z m 234,-137 c 115,-58 187,-178 187,-314 0,-64 -3,-77 -27,-108 -31,-40 -79,-62 -178,-83 -126,-27 -238,-16 -334,33 -97,48 -109,106 -57,260 40,116 85,175 166,216 48,24 64,27 125,24 49,-3 84,-11 118,-28 z\"\n       id=\"path54\" />\n    <path\n       d=\"m 6775,9888 c -96,-53 -123,-200 -59,-318 43,-79 98,-98 180,-61 114,52 122,273 14,365 -34,28 -97,35 -135,14 z\"\n       id=\"path56\" />\n    <path\n       d=\"m 6038,9401 c -72,-15 -110,-59 -93,-111 4,-12 29,-46 56,-76 53,-58 58,-78 33,-130 -29,-60 -189,-134 -293,-134 -63,0 -155,27 -200,60 -38,26 -76,26 -95,-2 -27,-38 -20,-68 28,-113 36,-35 58,-46 127,-65 143,-38 158,-52 245,-220 92,-181 165,-243 285,-242 65,0 137,32 186,84 18,18 52,76 77,129 56,121 113,208 140,214 162,35 196,48 239,93 48,50 34,122 -24,122 -9,0 -51,-16 -93,-36 -70,-33 -82,-36 -150,-32 -67,3 -86,9 -182,58 -163,84 -182,130 -89,225 45,46 55,63 55,91 0,37 -25,69 -66,84 -29,11 -130,11 -186,1 z m 197,-509 c 39,-23 84,-46 102,-52 l 32,-12 -23,-61 c -43,-113 -102,-221 -137,-246 -20,-15 -51,-26 -81,-29 -45,-4 -50,-2 -84,34 -29,30 -174,281 -174,300 0,2 5,4 10,4 18,0 131,56 190,94 48,30 58,33 75,22 11,-7 52,-31 90,-54 z\"\n       id=\"path58\" />\n    <path\n       d=\"m 6036,2199 c -37,-29 -66,-90 -66,-139 0,-34 -4,-42 -25,-52 -22,-10 -29,-9 -47,10 -22,22 -21,36 9,121 4,11 -3,8 -23,-9 l -29,-25 29,32 c 24,27 27,35 16,48 -30,36 -111,-3 -141,-69 -22,-48 -26,-121 -6,-110 6,4 4,-2 -7,-14 -10,-12 -22,-19 -27,-16 -5,2 -77,0 -161,-5 -111,-7 -174,-17 -229,-34 -178,-56 -306,-170 -325,-288 -9,-55 29,-101 94,-115 69,-16 93,-32 182,-123 92,-95 190,-174 293,-236 65,-39 83,-56 105,-98 58,-109 100,-123 170,-57 31,30 48,39 64,35 59,-12 229,-25 345,-25 497,1 841,183 935,495 29,99 29,98 118,92 148,-10 245,-70 297,-184 74,-160 19,-319 -140,-407 -82,-45 -132,-61 -301,-95 -239,-49 -340,-118 -341,-235 0,-63 22,-72 69,-28 67,63 169,104 338,136 406,76 612,299 544,589 -34,147 -115,253 -243,320 -80,41 -117,53 -236,73 -110,18 -132,29 -191,98 -54,63 -54,64 17,126 26,23 47,48 47,55 0,22 -41,45 -81,45 -35,0 -116,-36 -152,-68 -9,-8 -19,-13 -21,-11 -10,10 29,71 53,84 15,7 33,25 40,39 13,23 12,28 -4,46 -20,23 -76,27 -122,9 -37,-14 -79,-54 -110,-106 l -25,-43 -166,-1 c -100,0 -221,-7 -302,-18 -74,-10 -140,-16 -147,-14 -21,8 -24,40 -8,84 26,70 29,90 14,100 -25,15 -76,10 -103,-12 z m 767,-288 c 128,-33 180,-72 224,-167 79,-174 -30,-382 -247,-467 -172,-67 -341,-97 -543,-97 -214,0 -402,40 -583,125 -142,66 -211,121 -367,292 -64,71 -70,96 -33,140 61,73 207,119 406,128 212,9 392,24 560,45 213,27 237,28 381,24 80,-2 153,-11 202,-23 z\"\n       id=\"path60\" />\n    <path\n       d=\"m 5508,1722 c -37,-8 -26,-63 21,-106 l 21,-19 -25,-29 c -14,-17 -25,-42 -25,-59 0,-35 21,-38 90,-13 45,16 46,16 84,-10 46,-31 82,-34 91,-7 7,23 -10,69 -35,96 -19,21 -19,21 8,55 36,45 45,69 31,86 -15,18 -53,9 -101,-23 l -37,-25 -33,25 c -35,26 -63,35 -90,29 z\"\n       id=\"path62\" />\n    <path\n       d=\"m 5963,1549 c -41,-12 -42,-31 -3,-59 30,-21 40,-59 22,-87 -11,-18 -55,-32 -84,-26 -28,5 -68,-11 -68,-28 0,-11 38,-45 74,-66 55,-32 154,-5 191,51 47,71 18,181 -56,210 -22,9 -40,16 -42,15 -1,0 -17,-5 -34,-10 z\"\n       id=\"path64\" />\n  </g>\n  <path\n     fill=\"#a0a0a0\"\n     class = \"catcolor\"\n     style=\"stroke:none;stroke-width:0.44084\"\n     d=\"m 47.322976,242.93602 c -0.446035,-0.35107 -0.802091,-1.46172 -0.927716,-2.89386 -0.11213,-1.27823 -0.330541,-2.45078 -0.485366,-2.60561 -0.396483,-0.39648 -2.013706,1.15566 -2.811409,2.69824 -0.638334,1.23439 -0.700277,1.25709 -1.277393,0.46781 -0.855438,-1.16988 -0.753362,-3.62288 0.275156,-6.61231 1.699067,-4.93844 1.352164,-7.93081 -2.841763,-24.51302 -7.474524,-29.55318 -10.609477,-48.19836 -11.531215,-68.58203 -0.307695,-6.80449 -0.652914,-8.46545 -1.495768,-7.19663 -1.018601,1.5334 -1.394514,4.17602 -1.630468,11.46191 -0.457372,14.12312 0.763906,24.10063 5.632966,46.01975 2.919495,13.14275 4.433053,19.29684 6.782586,27.57782 1.892691,6.67086 2.002567,9.81128 0.518369,14.81604 -1.004394,3.38684 -1.086164,3.50674 -2.485635,3.64475 -2.171152,0.21408 -3.374961,-0.226 -5.248594,-1.91872 -1.839415,-1.66178 -2.303268,-1.53449 -2.857156,0.78412 -0.389365,1.62992 -1.404951,1.53752 -3.123015,-0.28417 -0.776251,-0.82306 -1.791572,-1.5697 -2.256265,-1.6592 -0.633667,-0.12213 -0.844901,-0.5348 -0.844901,-1.65101 0,-1.96815 2.160672,-3.73309 5.68747,-4.64587 1.430867,-0.37033 2.714586,-0.78631 2.85271,-0.92446 0.700989,-0.70097 -1.450592,-1.10993 -5.013439,-0.95287 l -3.967584,0.17489 -3.52674,-3.57542 C 11.671054,217.41933 8.791072,211.81789 6.6088308,202.84633 3.923558,191.80674 4.2395617,173.16385 7.321353,160.81043 c 0.4838981,-1.9397 2.744993,-9.08136 5.024659,-15.87033 3.162403,-9.41781 4.415901,-13.85872 5.288403,-18.73581 1.934589,-10.81389 2.882073,-15.51403 3.821338,-18.95622 1.109205,-4.06499 3.642506,-10.448992 4.685859,-11.808529 l 0.773493,-1.00789 2.952044,1.338522 c 3.259862,1.478088 5.17562,1.725848 5.17562,0.669335 0,-0.368056 -1.55075,-2.203065 -3.446111,-4.077793 -4.854861,-4.802029 -7.20377,-9.385154 -8.976958,-17.515567 -0.972276,-4.458079 -0.753444,-17.469253 0.404083,-24.025913 0.774492,-4.386984 1.058792,-8.43174 1.394381,-19.83791 0.443679,-15.079928 0.599773,-16.271649 2.9526,-22.5420498 0.603558,-1.6085054 1.471651,-3.2632718 1.929096,-3.6772546 0.790283,-0.7151973 0.985402,-0.6719436 3.916215,0.8681568 3.947906,2.0745675 8.599064,6.6708956 11.637079,11.4998986 3.340263,5.309438 3.552035,5.386789 10.847909,3.962273 5.102314,-0.996226 7.018486,-1.149304 14.327379,-1.144579 4.640518,0.003 9.627577,0.20427 11.08236,0.447264 1.454786,0.242996 2.79013,0.442958 2.967452,0.444363 0.17732,0.0014 1.783337,-1.832453 3.568946,-4.07524 4.110684,-5.163179 7.961055,-8.7344759 11.042354,-10.2420131 3.345206,-1.6366614 4.208906,-1.41127 5.610606,1.4641469 2.10327,4.3146592 3.0127,9.7082312 3.48708,20.6809922 0.47583,11.005938 0.89651,15.624652 2.29884,25.23785 0.59908,4.106797 0.9449,8.756446 0.96724,13.004853 0.0303,5.757207 -0.0986,7.040355 -0.99631,9.918956 -2.10096,6.737052 -5.58379,11.124041 -12.471881,15.709628 -5.042717,3.357068 -5.579085,4.397109 -2.036738,3.949285 1.860627,-0.235218 5.496469,-1.720381 10.095549,-4.123805 0.75128,-0.392608 4.30993,12.17071 6.33855,22.37734 1.52653,7.68045 3.09485,12.40483 8.49516,25.59046 7.96178,19.43991 8.8629,23.25742 9.21215,39.02704 0.31241,14.10472 -0.37043,20.5991 -3.03243,28.84111 -2.05539,6.36381 -6.78181,13.98128 -9.8525,15.87908 -1.46243,0.90383 -1.60663,0.91285 -3.9059,0.24445 -3.39997,-0.98842 -8.64394,-0.85369 -8.64394,0.22207 0,0.20482 0.84201,0.59915 1.87111,0.87625 1.02909,0.27711 2.57546,0.86317 3.43633,1.30237 1.9473,0.99344 5.66251,4.93093 4.89423,5.18702 -0.30134,0.10049 -1.03625,0.95626 -1.63314,1.90182 -1.26288,2.00053 -1.99964,2.14261 -3.19967,0.61705 -1.12788,-1.4339 -1.5771,-1.38998 -2.75892,0.26974 -0.88827,1.24748 -1.14076,1.35009 -2.78527,1.1319 -2.26322,-0.30026 -3.82749,-2.03878 -4.898649,-5.44427 -1.223922,-3.89116 -0.70464,-9.93948 2.586179,-30.12263 4.85917,-29.80228 5.77987,-38.91592 5.45557,-54.00323 -0.11986,-5.57665 -0.36385,-10.58572 -0.54216,-11.13126 -0.33357,-1.02044 -1.28643,-1.32435 -1.75834,-0.56079 -0.14654,0.23712 -0.55557,4.84944 -0.90897,10.2496 -1.09788,16.77687 -2.18938,25.94121 -5.711128,47.95133 -4.656964,29.10488 -5.157964,35.0132 -3.379571,39.85505 1.404681,3.82435 1.171185,6.14225 -0.768769,7.63172 -1.164169,0.89381 -1.635328,0.64782 -2.37737,-1.24124 -0.864729,-2.20138 -1.583945,-2.06755 -2.322002,0.43211 -1.231736,4.17161 -4.596524,5.1988 -4.596524,1.40318 0,-1.06434 -1.601009,-2.82642 -2.220298,-2.44369 -0.233608,0.14438 -0.424761,0.6365 -0.424761,1.0936 0,0.4571 -0.463408,1.36985 -1.029809,2.02831 -1.000872,1.1636 -1.089808,1.18214 -3.164904,0.65961 -3.08017,-0.7756 -4.42355,-1.92677 -5.928665,-5.08047 -1.244497,-2.60762 -1.359297,-3.28927 -1.759696,-10.44881 -0.527085,-9.42479 -1.495691,-64.42997 -1.279324,-72.6498 0.153603,-5.83504 0.133923,-5.98844 -0.784876,-6.11946 -0.837374,-0.11941 -0.995197,0.17546 -1.41574,2.64506 -1.543511,9.06409 -1.588528,10.28058 -1.620131,43.77778 -0.0324,34.36172 -0.167728,37.52456 -1.826406,42.69175 -1.05931,3.30001 -4.285255,6.46221 -6.592489,6.46221 -1.644302,0 -2.316073,-1.23776 -2.053353,-3.78331 0.143018,-1.38568 0.07089,-2.38852 -0.171745,-2.38852 -0.936389,0 -2.135761,1.34055 -3.203866,3.58096 -1.206916,2.53163 -2.575802,3.22584 -4.058927,2.05848 z M 70.086306,85.010852 c 1.359657,-0.796817 2.215856,-1.79977 3.292957,-3.857379 3.261378,-6.230276 3.470684,-6.459901 6.794771,-7.454462 3.549163,-1.061913 5.246397,-2.496153 5.043036,-4.261609 -0.183553,-1.593407 -1.556257,-1.776462 -4.3403,-0.578799 -1.173485,0.504823 -2.890368,0.9177 -3.815265,0.91751 -2.913878,-5.56e-4 -8.955551,-3.403977 -8.955551,-5.044803 0,-0.331307 0.694328,-1.433441 1.542948,-2.44917 1.760827,-2.107567 1.917515,-3.152173 0.661264,-4.408424 -0.702636,-0.702638 -1.469472,-0.881686 -3.776145,-0.881686 -5.497139,0 -6.808518,1.841752 -3.963963,5.56715 1.881302,2.463867 1.654485,3.388566 -1.279322,5.215571 -2.872321,1.788718 -6.644163,2.053603 -9.815526,0.689323 -2.923629,-1.257715 -4.262388,-1.081297 -4.453193,0.586829 -0.207199,1.811395 1.286806,3.168671 4.725228,4.292791 3.494214,1.142357 4.402195,1.907303 6.145903,5.177753 2.056277,3.856682 3.957922,6.249333 5.499897,6.919941 2.170777,0.944088 4.616041,0.786792 6.693261,-0.430536 z M 52.741693,58.687183 c 3.857387,-1.80384 4.343198,-2.477612 4.343198,-6.023564 0,-7.359734 -3.654756,-12.549928 -9.730632,-13.818668 -6.784903,-1.416794 -13.442515,4.467499 -13.942486,12.32298 -0.282355,4.436331 1.168287,6.33511 6.203441,8.119823 3.476382,1.232208 9.828721,0.94157 13.126479,-0.600571 z m 41.597818,-0.155547 c 2.131313,-1.064339 2.839418,-1.70241 3.665506,-3.302972 1.885698,-3.65352 0.648705,-8.987087 -3.00317,-12.948907 -2.251314,-2.442392 -5.002564,-3.580813 -8.600935,-3.558929 -6.295165,0.03829 -10.732743,5.131237 -11.150232,12.796998 -0.19028,3.493684 -0.166768,3.594151 1.207562,5.15942 2.236609,2.547351 5.068009,3.425038 10.607358,3.288092 4.135388,-0.102247 4.915628,-0.256021 7.273911,-1.433702 z M 40.685553,24.722363 c 1.433657,-1.433657 0.137207,-5.713872 -2.543689,-8.398049 -2.304512,-2.307318 -3.539936,-2.684786 -3.539936,-1.081578 0,1.582625 2.941138,8.37891 3.997442,9.237163 1.123764,0.913065 1.385197,0.94345 2.086183,0.242464 z m 50.984722,-1.066981 c 2.287779,-0.877899 6.58667,-11.188438 4.664933,-11.188438 -0.854913,0 -3.741218,2.931964 -5.383501,5.468666 -1.82257,2.815203 -2.150777,4.796635 -0.913847,5.517083 0.943191,0.549355 0.78139,0.529263 1.632415,0.202689 z\"\n     id=\"path74\" />\n  <path\n     fill=\"#a0a0a0\"\n     class = \"catcolor\"\n     style=\"stroke:none;stroke-width:0.44084\"\n     d=\"m 138.42876,259.51592 c -2.32117,-0.84963 -4.56274,-3.0787 -4.89914,-4.87179 -0.1981,-1.05604 -0.0168,-1.85612 0.67426,-2.97412 0.96788,-1.56609 1.83934,-1.99626 7.1646,-3.5365 5.52097,-1.5969 6.88737,-7.17391 2.66578,-10.88051 -3.53696,-3.10551 -8.72388,-4.52064 -18.61935,-5.07988 l -5.33403,-0.30144 -0.63695,-1.5244 -0.63693,-1.52441 3.13476,-3.35667 c 1.72412,-1.84617 3.91275,-4.50232 4.86362,-5.90253 l 1.72884,-2.54582 2.73884,0.003 c 5.59072,0.005 15.1103,2.08761 19.41972,4.25128 5.77949,2.90178 10.96851,7.71611 13.31476,12.35338 0.98547,1.94777 1.28827,3.23507 1.43972,6.12069 0.48387,9.21901 -4.55057,16.21905 -13.90543,19.33448 -3.99963,1.33202 -10.11076,1.53541 -13.11307,0.43648 z\"\n     id=\"path76\" />\n  <path\n     fill=\"#a0a0a0\"\n     class = \"catcolor\"\n     style=\"stroke:none;stroke-width:0.44084\"\n     d=\"m 63.477108,284.41533 c -6.775129,-0.98547 -13.131496,-4.05678 -17.679242,-8.54231 -3.879725,-3.82665 -4.332737,-4.60455 -3.431098,-5.89182 1.556621,-2.22241 5.637061,-3.36798 13.616016,-3.82273 2.667098,-0.15193 8.519284,-0.67122 13.004853,-1.15381 8.609445,-0.92627 12.430077,-0.84629 16.721321,0.35012 4.140091,1.15429 6.677935,4.88785 5.952149,8.75659 -0.404297,2.15505 -2.529657,5.18651 -4.594178,6.55274 -5.028341,3.32759 -15.28702,4.95892 -23.589821,3.75122 z m 1.576858,-3.00058 c 1.778498,-1.7785 1.778498,-4.02028 0,-5.79877 -1.421717,-1.42172 -2.510098,-1.61123 -3.807024,-0.66289 -0.839023,0.61353 -0.835274,0.64753 0.191938,1.74094 1.141847,1.21546 1.013917,2.45081 -0.262359,2.53344 -0.431922,0.028 -0.983691,0.097 -1.226154,0.15319 -0.242462,0.0565 -0.788006,0.13273 -1.212315,0.1696 -1.131364,0.0984 -0.940793,1.19248 0.390083,2.23935 1.770488,1.39265 4.319511,1.2314 5.925831,-0.37494 z m -8.575804,-4.64591 c 0.136011,-0.35442 -0.06972,-1.27985 -0.457179,-2.05652 -0.627973,-1.25881 -0.632388,-1.49175 -0.0407,-2.14557 0.365069,-0.4034 0.663761,-1.16417 0.663761,-1.69063 0,-1.16822 -1.511129,-1.30523 -2.987809,-0.27091 -0.88677,0.6211 -1.072775,0.6211 -1.959547,0 -1.261966,-0.88394 -2.940971,-0.88043 -3.281442,0.008 -0.146272,0.3812 0.120711,1.22433 0.593293,1.87359 0.79426,1.0912 0.807578,1.27104 0.176046,2.37723 -0.963101,1.68702 -0.183472,2.43845 1.874606,1.8068 1.122661,-0.34457 1.750729,-0.31311 2.545709,0.12743 1.400593,0.77625 2.568949,0.76478 2.873258,-0.0283 z\"\n     id=\"path78\" />\n  <path\n     style=\"fill:#e9afaf;stroke:none;stroke-width:0.44084\"\n     d=\"m 64.27593,81.128151 c -1.060001,-1.171072 -4.739779,-7.351957 -4.494672,-7.549656 0.093,-0.07502 1.605082,-0.902491 3.360153,-1.838828 l 3.191042,-1.70243 2.911117,1.522774 c 1.601117,0.837522 3.01151,1.766153 3.134212,2.063622 0.317387,0.769436 -2.890712,7.082861 -3.990512,7.853192 -1.336539,0.936144 -3.082406,0.788087 -4.11134,-0.348674 z\"\n     id=\"path80\" />\n</svg>\n",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "name": "ColorStatus",
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "59e37f85c2b17084",
        "type": "mqtt in",
        "z": "fa52b523e36cfc18",
        "name": "",
        "topic": "classify/mouseLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e606e15d75fe0412",
                "b06eb0bfed735885"
            ]
        ]
    },
    {
        "id": "98a6ded5f0b152fb",
        "type": "comment",
        "z": "fa52b523e36cfc18",
        "name": "subscribes to classify-topics and changes the color of the svg-cat depending on which topic sent a message",
        "info": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e49cc3bbf748d08",
        "type": "mqtt in",
        "z": "fa52b523e36cfc18",
        "name": "",
        "topic": "classify/cnmLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "9849ec1f612fa765",
                "b06eb0bfed735885"
            ]
        ]
    },
    {
        "id": "9849ec1f612fa765",
        "type": "change",
        "z": "fa52b523e36cfc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cat and mouse",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "e41222164456dd2d"
            ]
        ]
    },
    {
        "id": "e606e15d75fe0412",
        "type": "change",
        "z": "fa52b523e36cfc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mouse",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "e41222164456dd2d"
            ]
        ]
    },
    {
        "id": "883fcfa7cf12367c",
        "type": "change",
        "z": "fa52b523e36cfc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "e41222164456dd2d"
            ]
        ]
    },
    {
        "id": "f18d792a2c6a698c",
        "type": "mqtt in",
        "z": "fa52b523e36cfc18",
        "name": "",
        "topic": "classify/catLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "883fcfa7cf12367c",
                "b06eb0bfed735885"
            ]
        ]
    },
    {
        "id": "998e75cde76aa21b",
        "type": "change",
        "z": "fa52b523e36cfc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "all",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "e41222164456dd2d"
            ]
        ]
    },
    {
        "id": "429b3870b416466c",
        "type": "mqtt in",
        "z": "fa52b523e36cfc18",
        "name": "",
        "topic": "classify/allLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "998e75cde76aa21b",
                "b06eb0bfed735885"
            ]
        ]
    },
    {
        "id": "b06eb0bfed735885",
        "type": "debug",
        "z": "fa52b523e36cfc18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1e319ce9a6f441c",
        "type": "mqtt in",
        "z": "309b22839d0c1e8e",
        "name": "",
        "topic": "classify/allLog",
        "qos": "2",
        "datatype": "auto",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "db93c2decf5dba17"
            ]
        ]
    },
    {
        "id": "a64738402fa0ce7b",
        "type": "debug",
        "z": "309b22839d0c1e8e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "db93c2decf5dba17",
        "type": "function",
        "z": "309b22839d0c1e8e",
        "name": "",
        "func": "contextObject = context.get(\"tableVs\")\n\nif(contextObject === undefined){\n    contextObject = {\n        messages: [],\n        number: 1\n    }\n}\nmessages = contextObject.messages\nnumber = contextObject.number\nif(messages.length >= 5){\n    messages.splice(0,1)\n}\n\nswitch(number % 5){\ncase 0:\n    number = 1\n    break;\ncase 1:\n    number = 2\n    break;\n    case 2:\n        number = 3\n        break;\n    case 3: \n        number = 4\n        break;\n    case 4: \n        number = 5\n        break;\n        default: break;\n}\ndate = ''\nfor(i = 0; i<10; i++){\n    date += msg.payload[i]\n}\ntime = ''\nfor(i = 11; i<26; i++){\n    time += msg.payload[i]\n}\n\nobjects = ''\nfor(i = 29; i<msg.payload.length-8; i++){\n    objects += msg.payload[i]\n}\n\nallO = objects.split(';')\n\nobject1 = {\n    \"detected\": allO[0],\n    \"percentace\": allO[1]*100\n}\n\nobject2 = {\n    \"detected\": allO[2],\n    \"percentace\": allO[3]*100\n}\n\nobject3 = {\n    \"detected\": allO[4],\n    \"percentace\": allO[5]*100\n}\n\nobject4 = {\n    \"detected\": allO[6],\n    \"percentace\": allO[7]*100\n}\n\nobject5 = {\n    \"detected\": allO[8],\n    \"percentace\": allO[9]*100\n}\n\nx = [object1, object2, object3, object4, object5]\n\nmessages.push({\n    date : date,\n    time: time,\n    object1: object1,\n    object2: object2,\n    object3: object3,\n\n})\nmsg.payload = messages\ncontextObject = {\n    messages: messages,\n    number: number\n}\ncontext.set(\"tableVs\", contextObject)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "a64738402fa0ce7b",
                "f1a035439b939d02"
            ]
        ]
    },
    {
        "id": "f1a035439b939d02",
        "type": "ui_table",
        "z": "309b22839d0c1e8e",
        "group": "32695828263a10a1",
        "name": "Last 5 Logs",
        "order": 1,
        "width": 18,
        "height": 3,
        "columns": [
            {
                "field": "date",
                "title": "Date",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "object1.detected",
                "title": "Object",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "object1.percentace",
                "title": "%",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "object2.detected",
                "title": "Object 2",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "object2.percentace",
                "title": "%",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "object3.detected",
                "title": "Object 3 ",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "object3.percentace",
                "title": "%",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "11cd468740400813",
        "type": "comment",
        "z": "309b22839d0c1e8e",
        "name": "subscribes to classify/allLog and displays the detected objects from the last 5 logs. Shows percentage and object-name of the 3 objects with the highest percentage incl. timestamp",
        "info": "",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "de96f6b18671bc22",
        "type": "comment",
        "z": "bd649460696a959f",
        "name": "see as a reference: https://openweathermap.org/city/2657970",
        "info": "",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "f2dd814be2c9bcbc",
        "type": "comment",
        "z": "bd649460696a959f",
        "name": "Get WeatherData from openweathermap-api and publish to \"weather\"",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "61a2e743936a89d6",
        "type": "inject",
        "z": "bd649460696a959f",
        "name": "initialize every minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "weather",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "3472717a0f616830"
            ]
        ]
    },
    {
        "id": "e4ad93474dd4deb5",
        "type": "comment",
        "z": "bd649460696a959f",
        "name": "Instructions",
        "info": "insert your openweathermap-api-key to the node: Weather from owm-api",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "fb12557660ace7b7",
        "type": "debug",
        "z": "bd649460696a959f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "26733a42e03dd649",
        "type": "function",
        "z": "bd649460696a959f",
        "name": "format and split to current, hourly, daily forecast",
        "func": "//function definitions\nfunction formatTimeStamp(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  var stamp = UNIX_timestamp;\n  var weekday = dateObject.toLocaleString('de', {weekday:\"short\"});\n  var date = dateObject.toLocaleString('de', {year:'numeric', month:'numeric', day:'numeric'});\n  var shortWeekdayDate = weekday + ', ' + dateObject.toLocaleString('de', {month:'numeric', day:'numeric'});\n  var time = dateObject.toLocaleString('de', { hour12: false, hour: 'numeric', minute: '2-digit'});\n  return {stamp, weekday, date, shortWeekdayDate, time};      \n}\n\nfunction formatTemp(temp){\n    if (typeof(temp)==='number'){\n        var t = {temp};\n        t.tempString = temp.toFixed(1) + ' C';\n        return t;\n    }\n    else if (typeof(temp)==='object'){\n        temp.maxmin = temp.max.toFixed(0) + '/' + temp.min.toFixed(0)  + 'C';\n        return temp;\n    }\n}\n\nfunction formatSpeed(speed){\n  return speed.toFixed(1) + ' m/s';\n}\n\nfunction formatPercent(pc){\n  return pc.toFixed(0) + '%';\n}\n\nfunction directionFromDegree(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nfunction formatWeatherData(weather){\n    //adding new properties to subobject formatted\n    weather.formatted = {};\n    \n    weather.formatted.datetime = formatTimeStamp(weather.dt);\n    weather.formatted.sunrise = formatTimeStamp(weather.sunrise);\n    weather.formatted.sunset = formatTimeStamp(weather.sunset);\n    \n    weather.formatted.temp = formatTemp(weather.temp);\n    weather.formatted.clouds = formatPercent(weather.clouds);\n    \n    weather.formatted.wind_speed = formatSpeed(weather.wind_speed);\n    weather.formatted.wind_dir = directionFromDegree(weather.wind_deg);\n    \n    weather.formatted.description = weather.weather[0].description;\n    weather.formatted.iconString = 'wi wi-owm-' + weather.weather[0].icon;\n    return weather.formatted;\n}\n\n//Loop through weather data and format them\nvar wH = [];\nvar wD = [];\nfor (var h of msg.payload.hourly) {\n    wH.push(formatWeatherData(h));\n    //wH.push(h);\n}\n\nfor (var d of msg.payload.daily) {\n    wD.push(formatWeatherData(d));\n    //wD.push(d);\n}\n\n\nvar msgCurrent = {payload: formatWeatherData(msg.payload.current), topic: \"weather/current\"};\nvar msgHourly = {payload: wH, topic: \"weather/hourly\"};\nvar msgDaily = {payload: wD, topic: \"weather/daily\"};\n\nreturn [msgCurrent, msgHourly, msgDaily];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "91c798fdb19a68eb",
                "5e5ee183766c11cf"
            ],
            [
                "c48ab8fc334cfe2d",
                "5e5ee183766c11cf"
            ],
            [
                "d0e350ae1e0bb5ee",
                "5e5ee183766c11cf"
            ]
        ]
    },
    {
        "id": "91c798fdb19a68eb",
        "type": "mqtt out",
        "z": "bd649460696a959f",
        "name": "weather/current",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61de5090.0f5d9",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "c48ab8fc334cfe2d",
        "type": "mqtt out",
        "z": "bd649460696a959f",
        "name": "weather/hourly",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61de5090.0f5d9",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "d0e350ae1e0bb5ee",
        "type": "mqtt out",
        "z": "bd649460696a959f",
        "name": "weather/daily",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61de5090.0f5d9",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "5e5ee183766c11cf",
        "type": "debug",
        "z": "bd649460696a959f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "3472717a0f616830",
        "type": "openweathermap",
        "z": "bd649460696a959f",
        "name": "Weather from owm-api",
        "wtype": "onecall",
        "lon": "8.737565",
        "lat": "47.499950",
        "city": "",
        "country": "",
        "language": "en",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "fb12557660ace7b7",
                "26733a42e03dd649"
            ]
        ]
    },
    {
        "id": "248ea6c28d37476a",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 2,
        "width": 2,
        "height": 2,
        "name": "WeatherIcon",
        "label": "",
        "format": "<i class=\"{{msg.payload.iconString}} wi-4x\"></i>",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "3850bd940be66a77",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Temp",
        "label": "",
        "format": "{{msg.payload.temp.tempString}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "4c73cddb8fc0d634",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.wind_speed}}&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;{{msg.payload.wind_dir}}",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "80da21acd6e67c3e",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "Desc",
        "label": "",
        "format": "{{msg.payload.description}}",
        "layout": "row-left",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "42c02b8d6d76475b",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.sunrise.time}}",
        "layout": "row-center",
        "className": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "e70d216807ccc46a",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.sunset.time}}",
        "layout": "row-center",
        "className": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "58eb20e2dac85493",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "6e2ca1da7ab5d859",
        "order": 1,
        "width": 11,
        "height": 1,
        "name": "Header",
        "label": "",
        "format": "<h1>Winterthur - {{msg.payload.datetime.weekday}}, {{msg.payload.datetime.date}} - {{msg.payload.datetime.time}}</h1>",
        "layout": "row-left",
        "className": "",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "65fd60926e3a71a2",
        "type": "comment",
        "z": "d0802221b99d2133",
        "name": "subscribes to weather-topics and publishes data to the dashboard",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "172d503db23b2ff0",
        "type": "mqtt in",
        "z": "d0802221b99d2133",
        "name": "",
        "topic": "weather/current",
        "qos": "2",
        "datatype": "json",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "a0b5889397aabadf",
                "58eb20e2dac85493",
                "248ea6c28d37476a",
                "3850bd940be66a77",
                "4c73cddb8fc0d634",
                "80da21acd6e67c3e",
                "42c02b8d6d76475b",
                "e70d216807ccc46a",
                "518602c2b46a33b8",
                "1c98fde23a1013e3",
                "1954ed82472e2b8e",
                "ecd8e3f65cc25f12",
                "14eecd8e489ed6a1",
                "b9e11635b3c53ae6",
                "f64a00327255ec37"
            ]
        ]
    },
    {
        "id": "958967c96c5ad239",
        "type": "mqtt in",
        "z": "d0802221b99d2133",
        "name": "",
        "topic": "weather/hourly",
        "qos": "2",
        "datatype": "json",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "7708a366fa6e47a6",
                "74aa218483bb5b28"
            ]
        ]
    },
    {
        "id": "7eaef99ebebcb67c",
        "type": "mqtt in",
        "z": "d0802221b99d2133",
        "name": "",
        "topic": "weather/daily",
        "qos": "2",
        "datatype": "json",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "8ed97b72d4dbcdf3",
                "8beff10d2afa3502",
                "1da01757f024d741"
            ]
        ]
    },
    {
        "id": "a0b5889397aabadf",
        "type": "debug",
        "z": "d0802221b99d2133",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "7708a366fa6e47a6",
        "type": "debug",
        "z": "d0802221b99d2133",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "8ed97b72d4dbcdf3",
        "type": "debug",
        "z": "d0802221b99d2133",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "ba15521a4ba76885",
        "type": "ui_chart",
        "z": "d0802221b99d2133",
        "name": "hourly forecast",
        "group": "6e2ca1da7ab5d859",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "hourly forecast",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "74aa218483bb5b28",
        "type": "function",
        "z": "d0802221b99d2133",
        "name": "format chart data",
        "func": "var t = {};\nt.labels=[];\nt.series = ['hourly forecast'];\nt.data=[];\nvar arr = [];\n//for (var i = 0; i < msg.payload.length; i++){\nfor (var i = 0; i < msg.payload.length; i++){\n    t.labels.push(msg.payload[i].datetime.time);\n    arr.push(msg.payload[i].temp.temp);\n}\n\nt.data.push(arr);\n\nreturn {payload:[t]};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "ba15521a4ba76885",
                "dade1453ed1bbe35"
            ]
        ]
    },
    {
        "id": "dade1453ed1bbe35",
        "type": "debug",
        "z": "d0802221b99d2133",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "8beff10d2afa3502",
        "type": "ui_template",
        "z": "d0802221b99d2133",
        "group": "8ad3f68a164dcada",
        "name": "ForecastDaily",
        "order": 7,
        "width": "6",
        "height": "7",
        "format": "<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout-align=\"space-around start\" ng-repeat=\"data in msg.payload\" style=\"padding-top: 5px;padding-bottom: 5px\">\n    <table>\n        <tr>\n             <td>{{data.datetime.shortWeekdayDate}}</td>\n             <td><i class=\"{{data.iconString}}\"></i></td>\n             <td>{{data.temp.maxmin}}</td>\n        </tr>\n    </table>\n </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b9e11635b3c53ae6",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 2,
        "width": 2,
        "height": 2,
        "name": "WeatherIcon",
        "label": "",
        "format": "<i class=\"{{msg.payload.iconString}} wi-4x\"></i>",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "14eecd8e489ed6a1",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Temp",
        "label": "",
        "format": "{{msg.payload.temp.tempString}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "ecd8e3f65cc25f12",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.wind_speed}}&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;{{msg.payload.wind_dir}}",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "1954ed82472e2b8e",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "Desc",
        "label": "",
        "format": "{{msg.payload.description}}",
        "layout": "row-left",
        "className": "",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c98fde23a1013e3",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.sunrise.time}}",
        "layout": "row-center",
        "className": "",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "518602c2b46a33b8",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.sunset.time}}",
        "layout": "row-center",
        "className": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "f64a00327255ec37",
        "type": "ui_text",
        "z": "d0802221b99d2133",
        "group": "935357b5e630e0de",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "Header",
        "label": "",
        "format": "<h1>Winterthur - {{msg.payload.datetime.weekday}}, {{msg.payload.datetime.date}} - {{msg.payload.datetime.time}}</h1>",
        "layout": "row-left",
        "className": "",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "1da01757f024d741",
        "type": "ui_template",
        "z": "d0802221b99d2133",
        "group": "e06c6adcd58a675d",
        "name": "ForecastDaily",
        "order": 1,
        "width": 6,
        "height": 7,
        "format": "<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout-align=\"space-around start\" ng-repeat=\"data in msg.payload |  limitTo:-5\" style=\"padding-top: 5px;padding-bottom: 5px\">\n    <table>\n        <tr>\n             <td>{{data.datetime.shortWeekdayDate}}</td>\n             <td><i class=\"{{data.iconString}}\"></i></td>\n             <td>{{data.temp.maxmin}}</td>\n        </tr>\n    </table>\n </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "20651bcc446c04f8",
        "type": "comment",
        "z": "d0802221b99d2133",
        "name": "weather-tab",
        "info": "",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb52353c52abe6fe",
        "type": "comment",
        "z": "d0802221b99d2133",
        "name": "home-tab",
        "info": "",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "786128d6061bda3b",
        "type": "function",
        "z": "71963b7fde25c402",
        "name": "temperature",
        "func": "var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "a879a602d8849984",
                "b7185ade055618e1",
                "787be206771fc1d5"
            ]
        ]
    },
    {
        "id": "50dc5b7fe862cb12",
        "type": "function",
        "z": "71963b7fde25c402",
        "name": "humdity",
        "func": "var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "4a25d1e687cd6683",
                "8cc72a8b6141751e"
            ]
        ]
    },
    {
        "id": "1fe94736dba4acbb",
        "type": "function",
        "z": "71963b7fde25c402",
        "name": "pressure",
        "func": "var o = msg.payload\nmsg.payload = o.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "abb82f1741c2fe71",
                "81c4d72c3ce1378a"
            ]
        ]
    },
    {
        "id": "a879a602d8849984",
        "type": "ui_gauge",
        "z": "71963b7fde25c402",
        "name": "Temperature",
        "group": "112f77da862ef9c6",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": "20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "4a25d1e687cd6683",
        "type": "ui_gauge",
        "z": "71963b7fde25c402",
        "name": "Humidity",
        "group": "62a24012d4c55544",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "abb82f1741c2fe71",
        "type": "ui_gauge",
        "z": "71963b7fde25c402",
        "name": "Pressure",
        "group": "4dece354c822ee2b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "",
        "className": "",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "b7185ade055618e1",
        "type": "ui_chart",
        "z": "71963b7fde25c402",
        "name": "",
        "group": "112f77da862ef9c6",
        "order": 2,
        "width": 6,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc72a8b6141751e",
        "type": "ui_chart",
        "z": "71963b7fde25c402",
        "name": "",
        "group": "62a24012d4c55544",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "81c4d72c3ce1378a",
        "type": "ui_chart",
        "z": "71963b7fde25c402",
        "name": "",
        "group": "4dece354c822ee2b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "93ee174a1d141a0a",
        "type": "rpi-sensehat in",
        "z": "71963b7fde25c402",
        "name": "Sense Hat",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "786128d6061bda3b",
                "50dc5b7fe862cb12",
                "1fe94736dba4acbb"
            ]
        ]
    },
    {
        "id": "787be206771fc1d5",
        "type": "average-bars",
        "z": "71963b7fde25c402",
        "name": "average-bars",
        "title": "",
        "period": "day",
        "yMin": "auto",
        "yMax": "auto",
        "showBarsValue": true,
        "showScaleValue": true,
        "showLastValue": true,
        "showAverageValue": true,
        "showMinimumValue": true,
        "showMaximumValue": true,
        "maxBar": 30,
        "topColor": "#ff0000",
        "bottomColor": "#ffff00",
        "unit": "C",
        "fontColor": "#aaaaaa",
        "barStyle": "Rectangle",
        "decimal": 1,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "5d80c323046615a8"
            ]
        ]
    },
    {
        "id": "5d80c323046615a8",
        "type": "ui_template",
        "z": "71963b7fde25c402",
        "group": "112f77da862ef9c6",
        "name": "",
        "order": 3,
        "width": 12,
        "height": 5,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f0e4c27d3fb847b0",
        "type": "inject",
        "z": "71963b7fde25c402",
        "name": "every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8571c1f5e4166dcd",
        "type": "ui_gauge",
        "z": "71963b7fde25c402",
        "name": "CPU",
        "group": "09830d98668326a4",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "706b51a7b7f1227a",
        "type": "ui_chart",
        "z": "71963b7fde25c402",
        "name": "CPU chart",
        "group": "09830d98668326a4",
        "order": 2,
        "width": 6,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d83957f630541764",
        "type": "average-bars",
        "z": "71963b7fde25c402",
        "name": "average-bars",
        "title": "",
        "period": "day",
        "yMin": "0",
        "yMax": "100",
        "showBarsValue": true,
        "showScaleValue": true,
        "showLastValue": true,
        "showAverageValue": true,
        "showMinimumValue": true,
        "showMaximumValue": true,
        "maxBar": 30,
        "topColor": "#ff0000",
        "bottomColor": "#ffff00",
        "unit": "%",
        "fontColor": "#aaaaaa",
        "barStyle": "Rectangle",
        "decimal": 1,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "c0579460a870bc81"
            ]
        ]
    },
    {
        "id": "c0579460a870bc81",
        "type": "ui_template",
        "z": "71963b7fde25c402",
        "group": "09830d98668326a4",
        "name": "",
        "order": 3,
        "width": 12,
        "height": 5,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "029744747240b5d9",
        "type": "comment",
        "z": "71963b7fde25c402",
        "name": "Displays essential performance-KPI's from the Pi to a separate Performance-Tab in the Dashboard",
        "info": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "48c05f3e45d54962",
        "type": "debug",
        "z": "71963b7fde25c402",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 640,
        "wires": []
    }
]
